footer {
    width: 90%;
    margin: 25px auto 10px !important;
    padding: 10px 10px !important;
    height: 25px;
    position: relative !important;
    justify-content: center !important;
    align-items: start !important;
    border-top: 1px solid rgb(75, 75, 75) !important;

    span {
        position: absolute;
        padding: 0 !important;
        line-height: 10px;
        color: black !important;
        font-size: 11px !important;
        pointer-events: none;

        a, span {
            color: black !important;
            font-size: 11px !important;
            line-height: 10px;
        }

        &:hover {
            cursor: pointer;

            a {
                text-decoration: underline !important;
                color: #0e65ba !important;
                background-color: transparent !important;
                outline: none !important;
                border: none !important;
            }
        }
    }

    #s_m_masterfootermacomSpan, #m_masterfootermacomSpan {
        top: 10px;
        left: 10px;
    }

    #s_m_masterfootermacomsupportSpan, #m_masterfootermacomsupportSpan {
        top: 25px;
        left: 10px;
        pointer-events: unset !important;
    }

    #s_m_masterfooterversioninfoSpan, #m_masterfooterversioninfoSpan {
        top: 10px;
        right: 10px;
        pointer-events: unset !important;
    }

    #betlectiofootervesioninfoSpan {
        top: 25px;
        right: 10px;
        pointer-events: unset !important;
    }

    span:has(#s_m_masterfooternowSpan), span:has(#m_masterfooternowSpan) {
        display: none;
    }

    #masterfooternow {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: unset;
        gap: 3px;
        
        span {
            position: unset;
        }
    }
}