form[path="forside"] {
  #s_m_Content_Content_aktueltIsland_pa {
    .dashboardLinkHeader {
      display: none;
    }
  }

  #s_m_Content_Content_undervisningIsland_pa:has(#s_m_Content_Content_RegistreringerInfo) {
    div:first-child {
      display: none;
    }

    #s_m_Content_Content_RegistreringerInfo {
      td:first-child, td:last-child {
        display: none;
      }

      td {
        text-align: center;

        a {
          color: #e46f61;
          font-weight: 600;
          background: transparent !important;
          outline: 0 !important;

          &:hover {
            text-decoration: underline;
          }

          span {
            color: #e46f61;
          }
        }
      }
    }
  }
}