form[path='AdgangIndstillinger'] {
  section {
    width: 250px;

    .islandContent {
      table {
        width: 100%;
        background-color: transparent;
        border: none;
        margin: 0;

        tr:has(th) {
          border-bottom: 1px solid rgb(175, 175, 175);
        }

        tr:has(.noRecord) {
          border-bottom: none;
        }

        tr {
          border: 0;
          border-bottom: 1px dotted rgb(175, 175, 175);
          background-color: transparent;

          th {
            border: 0;
            text-align: start;
            pointer-events: none;
            cursor: default;
            padding: 7px;

            a {
              color: black;
              font-weight: normal;
              font-style: italic;
            }
          }

          td {
            border: 0;
            padding: 6px 5px;
            background-color: transparent;
            white-space: nowrap;

            &:nth-child(1), &:nth-child(2) {
              min-width: 115px;
              max-width: 115px;
            }

            &:nth-child(3) {
              min-width: 190px;
              max-width: unset;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            &:nth-child(4) {
              min-width: 40px;
              max-width: 40px;
              text-align: end;
            }

              &:hover {
                a {
                  text-decoration: underline !important;
                  color: #0e65ba !important;
                  background-color: transparent !important;
                  outline: none !important;
                  border: none !important;
                }
              }

              a:hover:after {
                color: #0e65ba !important;
              }

              a:after {
                color: black;
                content: "Fjern";
                text-decoration: underline;
              }

              img {
                display: none;
              }
          }
        }
      }
    }
  }
}