form[path='AdgangIndstillinger'] {
  section {
    width: 250px;

    .islandContent {
      table {
        width: 100%;
        background-color: transparent;
        border: none;
        margin: 0;

        tr:has(th) {
          border-bottom: 1px solid rgb(175, 175, 175);
        }

        tr:has(.noRecord) {
          border-bottom: none;
        }

        tr {
          border: 0;
          border-bottom: 1px dotted rgb(175, 175, 175);
          background-color: transparent;

          th {
            border: 0;
            text-align: start;
            pointer-events: none;
            cursor: default;
            padding: 7px;

            a {
              color: black;
              font-weight: normal;
              font-style: italic;
            }
          }

          td {
            border: 0;
            padding: 6px 5px;
            background-color: transparent;

            div {
              min-height: unset;
              line-height: normal;

              &:hover {
                a {
                  text-decoration: underline !important;
                  color: #0e65ba !important;
                  background-color: transparent !important;
                  outline: none !important;
                  border: none !important;
                }
              }

              a {
                color: black;
              }

              img {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}