form[path=AdgangIndstillinger] section {
  width: 250px;
}
form[path=AdgangIndstillinger] section .islandContent table {
  width: 100%;
  background-color: transparent;
  border: none;
  margin: 0;
}
form[path=AdgangIndstillinger] section .islandContent table tr:has(th) {
  border-bottom: 1px solid rgb(175, 175, 175);
}
form[path=AdgangIndstillinger] section .islandContent table tr:has(.noRecord) {
  border-bottom: none;
}
form[path=AdgangIndstillinger] section .islandContent table tr {
  border: 0;
  border-bottom: 1px dotted rgb(175, 175, 175);
  background-color: transparent;
}
form[path=AdgangIndstillinger] section .islandContent table tr th {
  border: 0;
  text-align: start;
  pointer-events: none;
  cursor: default;
  padding: 7px;
}
form[path=AdgangIndstillinger] section .islandContent table tr th a {
  color: black;
  font-weight: normal;
  font-style: italic;
}
form[path=AdgangIndstillinger] section .islandContent table tr td {
  border: 0;
  padding: 6px 5px;
  background-color: transparent;
  white-space: nowrap;
}
form[path=AdgangIndstillinger] section .islandContent table tr td:nth-child(1), form[path=AdgangIndstillinger] section .islandContent table tr td:nth-child(2) {
  min-width: 115px;
  max-width: 115px;
}
form[path=AdgangIndstillinger] section .islandContent table tr td:nth-child(3) {
  min-width: 190px;
  max-width: unset;
  overflow: hidden;
  text-overflow: ellipsis;
}
form[path=AdgangIndstillinger] section .islandContent table tr td:nth-child(4) {
  min-width: 40px;
  max-width: 40px;
  text-align: end;
}
form[path=AdgangIndstillinger] section .islandContent table tr td:hover a {
  text-decoration: underline !important;
  color: #0e65ba !important;
  background-color: transparent !important;
  outline: none !important;
  border: none !important;
}
form[path=AdgangIndstillinger] section .islandContent table tr td a:hover:after {
  color: #0e65ba !important;
}
form[path=AdgangIndstillinger] section .islandContent table tr td a:after {
  color: black;
  content: "Fjern";
  text-decoration: underline;
}
form[path=AdgangIndstillinger] section .islandContent table tr td img {
  display: none;
}
